﻿@model SalesWebMvc.Models.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">]</h1>
<h2 class="text-danger">e</h2>


@if (Model.ShowRequestId)
{
<p>
    <strong>Request ID:</strong> <code>d</code>
</p>
}